body {
    font: 12px/1 verdana;
}
.select-task {
    z-index: 100;
    background: white;
    box-shadow: 1px 1px 5px #aaa;
    position: absolute;

    width: 200px;

    border-radius: 3px;
    overflow: hidden;
    padding: 10px;
}

.select-task div {
    font-weight: bold;
    margin-bottom: 10px;
}

.select-task ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

.select-task li {
    padding: 5px 0 5px 10px;
    text-transform: capitalize;
}

.select-task li:hover {
    background: #85dcf1;
    cursor: pointer;
}

.ReactModalPortal{
    position: absolute;
    z-index: 10000;
}

path[fill="#a5a55b"]{
    fill: #f9c21a;
    stroke: #DBA41A;
}

path[fill="#5b80a5"] {
    fill: #543866;
    stroke: #442B54;
}

path[fill="#5ba55b"] {
    fill: #1a9122;
    stroke: #197B20;
}

.blocklyPathLight {
    stroke: rgba(255,255,255,.4);
}